language: python
matrix:
  include:
  - os: osx
    language: generic
    env: PYTHON_VERSION=3.5.6
  - os: osx
    language: generic
    env: PYTHON_VERSION=3.6.8
  - os: windows
    language: sh
    env:
    - PATH=/c/Python36:/c/Python36/Scripts:$PATH
    - PYTHON_VERSION=3.6.8
  - os: windows
    language: sh
    env:
    - PATH=/c/Python37:/c/Python37/Scripts:$PATH
    - PYTHON_VERSION=3.7.3
  - os: linux
    dist: xenial
    language: python
    python: 3.7
  - os: linux
    dist: xenial
    language: python
    python: 3.6
  - os: linux
    dist: xenial
    language: python
    python: 3.5
  - os: linux
    dist: trusty
    language: python
    python: 3.6
  - os: linux
    dist: trusty
    language: python
    python: 3.5
before_install:
- |
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    pip install -U pip;
    pip install --egg --no-binary pyenv pyenv;
    export PATH=~/.pyenv/bin:$PATH;
    eval "$(pyenv init -)";
    pyenv install --skip-existing $PYTHON_VERSION;
    pyenv global $PYTHON_VERSION;
    pyenv shell $PYTHON_VERSION;
    pip install -U pip setuptools wheel py;
  fi
  if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then
    choco install python --version $PYTHON_VERSION
    python -m pip install --upgrade pip
  fi
install:
- |
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    pip3 install pytest
    pip3 install .
  else
    pip install pytest
    pip install .
  fi
script:
- pytest -v tests/
deploy:
  skip_existing: true
  provider: pypi
  user: "nyctanthous"
  password:
    secure: bXRt3BsM0ZK/dNGJlcIJqvSYwd4hVZckqK4Q5d7oQxcEPW40VspLP/07xYX+lavugw1R++R36pTFahjFx4W4K5ccJHlWcRg06dCwV6K59sJgD+MvZoVDlOVYjmiwrHDjMVGevRra4rTyTmdQtOVdbc/6yHgh6oszKUby1N2Mm5cR7DX5FzY7HUV1pfWxcmvxg+mEJVBp+91Ojm7TNyp+gZfBFzaDxHgHx5CXw517NsFifOrqXOAd4rpBLlC3LrxH8hc2JDZWIKiGkJQPYVCsHDodcIJnfncBo0ghm2pMbQldN5HlNN9oVvvMdViDjUv/0jqI6ZjNIoaeE+RGp4GLaAIXgnolGtmBvitXU9mTum+Iobf7Z3Taz/ozmp0tHHDKoac+qtBX/6zOPF7RH+paVkHRr1TmT6Lko7nEDsroua5YC829aEXB3Me3QTBD12F1wleIDL6EaSPTU6rWKKXtivNP5JZlUXQffpv0+2DJxVsSWluIfi/MaVEcCnYeLvK0S4LSffwwlsE1gbuf2u2h1kA3EzgH6ISFAp+cKe17U6BaIX/rEGSUOGd0+E1g0roNuNKkqoEyR39wRJKl+9oVajsSKmjjdz5cYRHCzoqd48StUcZJkfWr3j3zkf4eD3LMhNRWY9L6lqeYAMjWY5sZUY8t/f4ZATGRL7dReByFz80=
